

/* =========
Color Variables 

Background : Tan 
Main Text: 
=========*/ 

/*Fonts*/



:root{
--pacific-blue: rgb(9, 153, 164); /*background color*/
--strawberry-red: #FD002Dff; /*header color*/
--tan: #E7C49Cff; /*background color*/
--lavender-blush: #FFEAF1ff;
--princeton-orange: #FF8C27ff;
--amber-flame: #FFB822ff; /* lightbox bg color */
}

/* ========= Font Variables ========= */
:root{
--header-font: 'Delius Unicase', cursive;
--body-font: 'Helvetica', sans-serif;
--link-font: 'Helvetica', sans-serif;
}

/* Background */

/*Body*/ 


body{ /* settings for the body of main container*/
  background-color: var(--pacific-blue);
  margin: 0;
  padding: 20px;
  font-family: var(--body-font);

}

/* Navigation Bar */

/*Paragraph*/
p{
  font-size:10px; 
  color: var(--lavender-blush);
}
/* Headers */

h1{
  font-size: 12px;
  font-family: var(--header-font);
  color: var(--strawberry-red);
  text-align: center; 
  position: relative; 
  margin-bottom: 10px; 
}

h2{
  font-size: 10px;
  font-family: var(--header-font);
  color: var(--pacific-blue);
  text-align: center; 
  position: relative; 
  margin-bottom: 8px; 
}

/*Footer*/

footer{ 
  font-family: var(--header-font); 
  font-size: 8px; 
  color: var(--princeton-orange);
  text-align: center; 
}


/*lightbox*/

/* Lightbox */

#lightbox {
  display: none;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: var(--amber-flame);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 12px;
  box-shadow:var(--amber-flame) 0px 4px 15px;
}

